<launch>

  <param name="angularSpeed" value="0.4" />

   <node name="face_tracker" pkg="chefbot_facedetection" type="face_tracker_webcam" output="screen" />

   <node name="control" pkg="chefbot_facedetection" type="controller_node"  >
   		<remap from="cmd_vel" to="cmd_navigation"/>
   </node>

</launch>
