<launch>
  <arg name="twist_to_motors" value="0"/> 
  <arg name="teleop_keyboard" value="0"/>

  <include file="$(find chefbot)/launch/urdf.launch" />

  <include file="$(find chefbot)/launch/serial.launch" />  
  
  <group if="$(eval teleop_keyboard == 1)">
    <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" launch-prefix="xterm -e"/>
  </group>
  
  <group if="$(eval twist_to_motors == 1)">
    <include file="$(find chefbot)/launch/twist.launch" />
  </group>
  
</launch>
