<launch>
	<!--include file="$(find astra_launch)/launch/astra.launch"/-->
	<!--include file="$(find chefbot_bringup)/launch/start_driver.launch"/-->
	<include file="$(find chefbot_bringup)/launch/gmapping_demo.launch"/>
	<include file="$(find chefbot_bringup)/launch/keyboard_teleop.launch"/>	
</launch>
